{{>header}}

<body>
  {{>navbar}}
  {{!-- home section starts --}}
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          {{!-- left side --}}
          <div class="col-md-6 col-12 home-text order-md-0 order-1">
              <h1>WE WILL HELP YOU TO</h1>
              <h2>GROW YOUR BUISSNESS</h2>
                <p>We are the team of <span class="bold style"> professional developers😊</span></p>
                <button class="btn-style">Read More</button>
          </div>
          {{!-- right side --}}
          <div class="col-md-6 col-12  home-text order-md-1 right_div order-0">
             <figure>
              <img src="/images/img1.jpg" alt="#">
             </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- hero section ends --}}
{{>footer}}
</body>

</html>